/uncertainty.aux
/uncertainty.bbl
/uncertainty.bcf
/uncertainty.blg
/uncertainty.log
/uncertainty.out
/uncertainty.pdf
/uncertainty.run.xml
/uncertainty.synctex.gz
/uncertainty.toc
/PTD.aux
/PTD.bbl
/PTD.bcf
/PTD.blg
/PTD.dvi
/PTD.lof
/PTD.log
/PTD.lot
/PTD.out
/PTD.run.xml
/PTD.synctex.gz
/PTD.toc
/PTD1-blx.aux
/PTD2-blx.aux
/PTD3-blx.aux
/PTD4-blx.aux
/PTD5-blx.aux
/PTD6-blx.aux
/PTD-blx.bib
.Rproj.user
.Rhistory
.RData
